body {
    /*background: #000 url(../images/zikraft_web.jpg) no-repeat center center fixed;*/
    background: #000 url(../images/zikraft-mc92cr6c.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    min-width: 100px;
    padding-top: 103px;
    width: 379px;
}

#logo a {
    outline: 0;
}

#body-text div {
    padding: 15px;
    background: transparent url("../images/transparent.png") repeat scroll 0% 0%;
    font-size: 11px;
    text-align: center;
    color: #FFF;
    line-height: 20px;
}

#body-text {
    padding-top: 276px;
}

.content a, .content strong {
    color: #f06421;
}

.content a {
    text-decoration: underline;

}

@media (min-width: 320px) {
    #logo {
        padding-top: 75px;
        width: 275px;
    }

    #body-text div {
        width: 100%;
    }

    #body-text {
        padding-top: 205px;
    }
}

@media (min-width: 480px) {
    #logo {
        padding-top: 50px;
        width: 182px;
    }

    #body-text div {
        width: 100%;
    }

    #body-text {
        padding-top: 25px;
    }
}

@media (min-width: 600px) {
    #logo {
        padding-top: 67px;
        width: 237px;
    }

    #body-text {
        padding-top: 87px;
    }

    #body-text div {
        width: 77%;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    #logo {
        padding-top: 124px;
        width: 458px;
    }

    #body-text {
        padding-top: 287px;
    }
    #body-text div {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #logo {
        padding-top: 103px;
        width: 379px;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    #logo {
        padding-top: 159px;
        width: 588px;
    }

    #body-text div {
        width: 77%;
        font-size: 16px;
        line-height: 30px;
    }

    #body-text {
        padding-top: 306px;
    }
}

@media (min-width: 800px) {
    #logo {
        padding-top: 92px;
        width: 349px;
    }

    #body-text div {
        width: 77%;
    }

    #body-text {
        padding-top: 190px;
    }

}

@media (min-width: 800px)  and (orientation: portrait) {
    #logo {
        padding-top: 93px;
        width: 346px;
    }
}

@media (min-width: 992px) {
    #logo {
        padding-top: 102px;
        width: 380px;

    }
}

@media (min-width: 1024px) {
    #logo {
        padding-top: 121px;
        width: 436px;
    }

    #body-text {
        padding-top: 276px;
    }

    #body-text div {
        line-height: 20px;
        width: 710px;
    }
}

@media (min-width: 1200px) {
    #logo {
        padding-top: 67px;
        width: 437px;
    }

    #body-text {
        display: none;
        position: absolute;
        bottom: 10%;
    }

    #body-text div {
        line-height: 20px;
        width: 710px;
    }
}
