body {
    /*background: #000 url(../images/zikraft_web.jpg) no-repeat center center fixed;*/
    background: #000 url(../images/zikraft-mc92cr6c.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    padding-top: 18px;
    max-width: 600px;
    mix-height: 200px;
}

#logo a {
    outline: 0;
}

#body-text div {
    padding: 12px;
    background: transparent url("../images/transparent.png") repeat scroll 0% 0%;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.content a, .content strong {
    color: #f06421;
}

.content a {
    text-decoration: underline;

}

@media (min-width: 768px) {
    #logo {
    }

    #body-text {
        padding-top: 150px;
    }
}

@media (min-width: 992px) {
    #logo {
    }

    #body-text {
        padding-top: 150px;
    }
}

@media (min-width: 1200px) {
    #logo {
    }

    #body-text {
        padding-top: 150px;
    }

    #body-text div {
        width: 77%;
    }
}