body {
    background: #000 url(../images/zikraft-mc92cr6c.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    padding-top: 28px;
}

#logo a {
    outline: 0;
}

#body-text div {
    padding: 12px;
    background: transparent url("../images/transparent.png") repeat scroll 0% 0%;
    font-size: 0.9em;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

#body-text {
    padding-top: 120px;

}

.content a, .content strong {
    color: #f06421;
}

.content a {
    text-decoration: underline;

}

@media (max-width: 767px) and (orientation: landscape) {
    #logo {
        padding-top:0px;
        max-width:390px;
    }

    #body-text {
        padding-top: 0px;
    }

    #body-text div {
        width: 80%;
    }
}

@media (min-width: 768px) {
    #body-text {
        padding-top: 0px;
        position: absolute;
        bottom: 12%;
        left: 17%;
        right: 17%;
    }
}

@media (min-width: 1200px) {
    #logo {
        max-width: 700px;
    }
}

@media (min-width: 1600px) {

    #logo {
        max-width: 1000px;
    }
}