body {
    background: #000 url(../images/zikraft-mc92cr6c.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    padding-top: 6.2em;
    width: 31.6em;
}

.content {
    padding-top: 19.8em;
}

.content div {
    padding: 1.4em 0em 0em 1.4em;
    background: url(../images/transparent.png) repeat;
    font-size: 0.9em;
    color: #fff;
    width: 56em;
    height: 10.8em
}
.content a, .content strong {
    color: #f06421;
}

/*
@media (min-width: 900px) {
    .starter-template {
        padding-top: 7.9em;
        width: 28.6em;
    }
}

@media (min-width: 1200px) {
    .starter-template {
        padding-top: 6.1em;
        width: 31.6em;
    }
}
