body {
    /*background: #000 url(../images/zikraft_web.jpg) no-repeat center center fixed;*/
    background: #000 url(../images/zikraft-mc92cr6c.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  min-height: 640px;
}

#logo {
  display: block;
  min-width:100px;
  width:382px;
  padding-top: 102px;
  display: none;

}

.content div {
    padding: 1.4em 0em 0em 1.4em;
    background: url(../images/transparent.png) repeat;
    font-size: 0.9em;
    color: #fff;
    width: 56em;
    height: 10.8em
}

#body-text {
  padding-top:0px;

}
.content a, .content strong {
    color: #f06421;
}

@media (min-width: 768px) {
  .content div {
      width: 42em;
  }

  #logo {
  }
}

@media (min-width: 992px) {
  .content div {
      width: 42em;
  }

  #logo {
  }
}

@media (min-width: 1200px) {
  .content div {
      width: 62.4%;
  }

  #logo {
    padding-top: 66px;
    }
}
